<div class="container mt-5">
  <div class="d-flex">
    <div class="p-2 w-100"><h1>boards</h1></div>
    <div class="p-2"><%= link_to 'New board', new_board_path, class: 'btn btn-success'%></div>
  </div>
  <ul>
  <div class="containter mt-5">
    <div class="d-flex justify-content-center align-items-center">
      <% @boards.each do |board| %>
      <% if board.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.photo.key, height: 300, crop: :fill %>')">
          <%= link_to board.name, board_path(board) %>
        </div>
        <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.F00dCf4bXxX0J-qEEf4qIQHaD6%26pid%3DApi&f=1)">
          <%= link_to board.name, board_path(board) %>
        </div>
        <% end  %>
      <% end  %>
    </div>
  </div>
  </ul>
</div>
