<div class="container mt-5">
  <div class="d-flex">
    <div class="p-2 w-100"><h1>Boards</h1></div>
    <div class="p-2"><%= link_to 'New board', new_board_path, class: 'btn btn-success' %></div>
  </div>
  <div class="container">
    <div class="row my-10">
      <% @boards.each do |board| %>
    </div>
  </div>
</div>
