<div class="container mt-5">
  <div class="d-flex">
    <div class="p-2 w-100"><h1><%= @board.type_of_board + ' - ' + @board.location + ' ' + @board.volume.round.to_s + 'L'%> </h1></div>
  </div>



</div>
