.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}
.navbar a {
  color: rgb(81, 79, 79);
}

.navbar a:hover {
  color: rgb(15, 139, 255);
}
